In [1]:
#import pandas
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import openpyxl
#Read in data from a local csv, excel file, json, or any other file type.
# read in data with pandas and store as object
df = pd.read_excel("C:\\Users\\ineed\\OneDrive\\Documents\\project\\final_project\\rep_flex.xlsx")
#Use built-in pandas or numpy functions to do things like remove 0’s and null values where they don’t belong in your dataset. 
#clean data
#this will assure thatasslociates that are not trained with not be considered for this job juntion
df = df.drop (df[df.training_hours < 1 ].index)
print (df)

    job_function associate_name trained quality speed  trainer manager  \
0    maintenance          randy       y       y     y  charles   brown
1       money_in          randy       y       y     y   little   brown
2   transfer_out          randy       y       y     y   little   brown
3   new_accounts          randy       y       y     y   little   brown
6    maintenance        mellisa       y       y     y   little   brown
7       money_in        mellisa       y       y     y   little   brown
8   transfer_out        mellisa       y       y     y   little   brown
10       central        mellisa       y       y     y   little   brown
12   maintenance            jon       y       y     y   little   brown
13      money_in            jon       y       y     y  walters   brown
18   maintenance          diane       y       y     y   little  harris
19      money_in          diane       y       y     y   little  harris
21  new_accounts          diane       y       y     n  wilburs  harris
23      classify          diane       y       y     y   little  harris
24   maintenance          carol       y       y     y   little  harris
30   maintenance           beth       y       y     n   little  harris
31      money_in           beth       y       n     n  walters  harris
33  new_accounts           beth       y       y     y  wilburs  harris
35      classify           beth       y       y     y   little  harris

      manager_email city  training_hours
0    brown@work.com  abq              84
1    brown@work.com  abq              11
2    brown@work.com  abq              58
3    brown@work.com  abq              29
6    brown@work.com  abq              71
7    brown@work.com  abq              46
8    brown@work.com  abq              51
10   brown@work.com  abq              44
12   brown@work.com  abq              55
13   brown@work.com  abq              42
18  harris@work.com  cvg              52
19  harris@work.com  cvg              25
21  harris@work.com  cvg               8
23  harris@work.com  cvg             102
24  harris@work.com  cvg              25
30  harris@work.com  cvg              10
31  harris@work.com  cvg              44
33  harris@work.com  cvg              25
35  harris@work.com  cvg              89

In [17]:
df = pd.read_excel("C:\\Users\\ineed\\OneDrive\\Documents\\project\\final_project\\rep_flex.xlsx")
selected_person = input("enter a name:") 
df = df.loc[df['associate_name']==selected_person, :]
df = df.loc[df['trained']=='y',:]
print(selected_person +" " "can help in")
print(df['job_function'])

carol can help in
24    maintenance
Name: job_function, dtype: object

In [3]:

df = pd. read_excel ("C:\\Users\\ineed\\OneDrive\\Documents\\project\\final_project\\rep_flex.xlsx")
print("Sum: ", df ["training_hours"].sum()) 
print("Mean: ", df ["training_hours"]. mean ()) 
print("Maximum: ", df ["training_hours"].max()) 
print("Minimum: ", df ["training_hours"].min())

Sum:  871
Mean:  24.194444444444443
Maximum:  102
Minimum:  0

In [21]:

import pandas as pd
df = pd.read_excel("C:\\Users\\ineed\\OneDrive\\Documents\\project\\final_project\\rep_flex.xlsx")
selected_person = input("enter a name:") 
df = df.loc[df['trainer']==selected_person,]
df = df.loc[df['trained']=='y'] 
print(selected_person +" " "has trained")
df.drop_duplicates()

little has trained

,job_function,associate_name,trained,quality,speed,trainer,manager,manager_email,city,training_hours
1,money_in,randy,y,y,y,little,brown,brown@work.com,abq,11
2,transfer_out,randy,y,y,y,little,brown,brown@work.com,abq,58
3,new_accounts,randy,y,y,y,little,brown,brown@work.com,abq,29
6,maintenance,mellisa,y,y,y,little,brown,brown@work.com,abq,71
7,money_in,mellisa,y,y,y,little,brown,brown@work.com,abq,46
8,transfer_out,mellisa,y,y,y,little,brown,brown@work.com,abq,51
10,central,mellisa,y,y,y,little,brown,brown@work.com,abq,44
12,maintenance,jon,y,y,y,little,brown,brown@work.com,abq,55
18,maintenance,diane,y,y,y,little,harris,harris@work.com,cvg,52
19,money_in,diane,y,y,y,little,harris,harris@work.com,cvg,25
23,classify,diane,y,y,y,little,harris,harris@work.com,cvg,102
24,maintenance,carol,y,y,y,little,harris,harris@work.com,cvg,25
30,maintenance,beth,y,y,n,little,harris,harris@work.com,cvg,10
35,classify,beth,y,y,y,little,harris,harris@work.com,cvg,89