In [17]:
#import pandas
import matplotlib.pyplot as plt
import pandas as pd
import numpy

In [6]:
#Read in data from a local csv, excel file, json, or any other file type.
# read in data with pandas and store as object
df = pd.read_excel('C:\\Users\\15134\\Desktop\\Final Project\\Assets\\rep_flex.xlsx')

In [7]:
#print df 
print (df)

    job_function associate_name trained quality speed  trainer manager  \
0     mantenance           beth       y       y     n   little  harris
1     mantenance          diane       y       y     y   little  harris
2     mantenance          carol       y       y     y   little  harris
3     mantenance            jon       y       y     y   little   brown
4     mantenance        mellisa       y       y     y   little   brown
5     mantenance          randy       y       y     y  charles   brown
6       money_in           beth       y       n     n  walters  harris
7       money_in          diane       y       y     y   little  harris
8       money_in          carol       n      na    na       na  harris
9       money_in            jon       y       y     y  walters   brown
10      money_in        mellisa       y       y     y   little   brown
11      money_in          randy       y       y     y   little   brown
12  transfer_out           beth       n      na    na       na  harris
13  transfer_out          diane       n      na    na       na  harris
14  transfer_out          carol       n      na    na       na  harris
15  transfer_out            jon       n      na    na       na   brown
16  transfer_out        mellisa       y       y     y   little   brown
17  transfer_out          randy       y       y     y   little   brown
18  new_accounts           beth       y       y     y  wilburs  harris
19  new_accounts          diane       y       y     n  wilburs  harris
20  new_accounts          carol       n      na    na       na  harris
21  new_accounts            jon       n      na    na       na   brown
22  new_accounts        mellisa       n      na    na       na   brown
23  new_accounts          randy       y       y     y   little   brown
24       central           beth       n      na    na       na  harris
25       central          diane       n      na    na       na  harris
26       central          carol       n      na    na       na  harris
27       central            jon       n      na    na       na   brown
28       central        mellisa       y       y     y   little   brown
29       central          randy       n      na    na       na   brown
30      classify           beth       y       y     y   little  harris
31      classify          diane       y       y     y   little  harris
32      classify          carol       n      na    na       na  harris
33      classify            jon       n      na    na       na   brown
34      classify        mellisa       n      na    na       na   brown
35      classify          randy       n      na    na       na   brown

      manager_email city  training_hours
0   harris@work.com  cvg              10
1   harris@work.com  cvg              52
2   harris@work.com  cvg              25
3    brown@work.com  abq              55
4    brown@work.com  abq              71
5    brown@work.com  abq              84
6   harris@work.com  cvg              44
7   harris@work.com  cvg              25
8   harris@work.com  cvg               0
9    brown@work.com  abq              42
10   brown@work.com  abq              46
11   brown@work.com  abq              11
12  harris@work.com  cvg               0
13  harris@work.com  cvg               0
14  harris@work.com  cvg               0
15   brown@work.com  abq               0
16   brown@work.com  abq              51
17   brown@work.com  abq              58
18  harris@work.com  cvg              25
19  harris@work.com  cvg               8
20  harris@work.com  cvg               0
21   brown@work.com  abq               0
22   brown@work.com  abq               0
23   brown@work.com  abq              29
24  harris@work.com  cvg               0
25  harris@work.com  cvg               0
26  harris@work.com  cvg               0
27   brown@work.com  abq               0
28   brown@work.com  abq              44
29   brown@work.com  abq               0
30  harris@work.com  cvg              89
31  harris@work.com  cvg             102
32  harris@work.com  cvg               0
33   brown@work.com  abq               0
34   brown@work.com  abq               0
35   brown@work.com  abq               0

In [8]:
#Use built-in pandas or numpy functions to do things like remove 0’s and null values where they don’t belong in your dataset. 
#clean data
#this will assure tath asslociates that are not trained with not be considered for this job juntion
df = df.drop (df[df.training_hours < 1 ].index)
print (df)

    job_function associate_name trained quality speed  trainer manager  \
0     mantenance           beth       y       y     n   little  harris
1     mantenance          diane       y       y     y   little  harris
2     mantenance          carol       y       y     y   little  harris
3     mantenance            jon       y       y     y   little   brown
4     mantenance        mellisa       y       y     y   little   brown
5     mantenance          randy       y       y     y  charles   brown
6       money_in           beth       y       n     n  walters  harris
7       money_in          diane       y       y     y   little  harris
9       money_in            jon       y       y     y  walters   brown
10      money_in        mellisa       y       y     y   little   brown
11      money_in          randy       y       y     y   little   brown
16  transfer_out        mellisa       y       y     y   little   brown
17  transfer_out          randy       y       y     y   little   brown
18  new_accounts           beth       y       y     y  wilburs  harris
19  new_accounts          diane       y       y     n  wilburs  harris
23  new_accounts          randy       y       y     y   little   brown
28       central        mellisa       y       y     y   little   brown
30      classify           beth       y       y     y   little  harris
31      classify          diane       y       y     y   little  harris

      manager_email city  training_hours
0   harris@work.com  cvg              10
1   harris@work.com  cvg              52
2   harris@work.com  cvg              25
3    brown@work.com  abq              55
4    brown@work.com  abq              71
5    brown@work.com  abq              84
6   harris@work.com  cvg              44
7   harris@work.com  cvg              25
9    brown@work.com  abq              42
10   brown@work.com  abq              46
11   brown@work.com  abq              11
16   brown@work.com  abq              51
17   brown@work.com  abq              58
18  harris@work.com  cvg              25
19  harris@work.com  cvg               8
23   brown@work.com  abq              29
28   brown@work.com  abq              44
30  harris@work.com  cvg              89
31  harris@work.com  cvg             102

In [15]:
#list of associats that meet speed metrics
#narrows down to associates that are successful in process
df = df.drop (df[df.speed == "n" ].index)
print (df)

    job_function associate_name trained quality speed  trainer manager  \
1     mantenance          diane       y       y     y   little  harris
2     mantenance          carol       y       y     y   little  harris
3     mantenance            jon       y       y     y   little   brown
4     mantenance        mellisa       y       y     y   little   brown
5     mantenance          randy       y       y     y  charles   brown
7       money_in          diane       y       y     y   little  harris
9       money_in            jon       y       y     y  walters   brown
10      money_in        mellisa       y       y     y   little   brown
11      money_in          randy       y       y     y   little   brown
16  transfer_out        mellisa       y       y     y   little   brown
17  transfer_out          randy       y       y     y   little   brown
18  new_accounts           beth       y       y     y  wilburs  harris
23  new_accounts          randy       y       y     y   little   brown
28       central        mellisa       y       y     y   little   brown
30      classify           beth       y       y     y   little  harris
31      classify          diane       y       y     y   little  harris

      manager_email city  training_hours
1   harris@work.com  cvg              52
2   harris@work.com  cvg              25
3    brown@work.com  abq              55
4    brown@work.com  abq              71
5    brown@work.com  abq              84
7   harris@work.com  cvg              25
9    brown@work.com  abq              42
10   brown@work.com  abq              46
11   brown@work.com  abq              11
16   brown@work.com  abq              51
17   brown@work.com  abq              58
18  harris@work.com  cvg              25
23   brown@work.com  abq              29
28   brown@work.com  abq              44
30  harris@work.com  cvg              89
31  harris@work.com  cvg             102

In [16]:
#list of associates that are trained, meet quality standards, meet map for speed, had have 30 hours of experience
df = df.drop (df[df.training_hours <= 30 ].index)
print (df)

    job_function associate_name trained quality speed  trainer manager  \
1     mantenance          diane       y       y     y   little  harris
3     mantenance            jon       y       y     y   little   brown
4     mantenance        mellisa       y       y     y   little   brown
5     mantenance          randy       y       y     y  charles   brown
9       money_in            jon       y       y     y  walters   brown
10      money_in        mellisa       y       y     y   little   brown
16  transfer_out        mellisa       y       y     y   little   brown
17  transfer_out          randy       y       y     y   little   brown
28       central        mellisa       y       y     y   little   brown
30      classify           beth       y       y     y   little  harris
31      classify          diane       y       y     y   little  harris

      manager_email city  training_hours
1   harris@work.com  cvg              52
3    brown@work.com  abq              55
4    brown@work.com  abq              71
5    brown@work.com  abq              84
9    brown@work.com  abq              42
10   brown@work.com  abq              46
16   brown@work.com  abq              51
17   brown@work.com  abq              58
28   brown@work.com  abq              44
30  harris@work.com  cvg              89
31  harris@work.com  cvg             102

In [32]:
varNew = var = pd.read_excel('C:\\Users\\15134\\Desktop\\Final Project\\Assets\\rep_flex.xlsx')
var = pd.read_excel('C:\\Users\\15134\\Desktop\\Final Project\\Assets\\rep_flex.xlsx')
varNew = var[['trainer']]
varNew.head()
plt.show()